body {
    margin: 0;
    text-align: center;

h1 {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-size: 40px;
    text-align: left;
    padding-left: 52px;
    padding-top: 115px;

}

h2 {
    padding-left: 52px;
    text-align: left;
}

span {
    display: block;
    color: #8B5CF6;
}

.container-all-el {
    width: 550px;
    height: 550px;
    margin: auto;
    background-color: #1F2937;
}

.password-field {
    width: 211px;
    height: 39px;
    font-size: 16px;
    background-color: #273549;
    border-radius: 6px;
    display: inline-block;
    margin: 10px 10px 0px 10px
}